

body {
    background-color: #EBE9E1;
    display: flex;
    flex-direction: column;
    font-family: "Lexend", serif;
    color: #E43d12;
    margin: 0;
}


.header {
    display: flex;
    flex-direction: row;
    gap: 3em;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin: 0;
}

.header a {
    color:#E43d12;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    align-items: center;
    gap: 2em;
    list-style-type: none;
    margin: 0;
}
.nav-links {
    text-decoration: none;
    color: #E43d12;
    transition: .3s ease-in-out;
}

.nav-links::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #E43d12;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links:hover::after {
    width: 100%;
}



@keyframes bounce {
    0% {
        transform: rotateZ(0%);
    }
    50% {
        transform: rotateZ(-7deg);
    }
    100% {
        transform: rotateZ(7deg);
    }
}

@keyframes bounceR {
    0% {
        transform: rotateZ(0%);
    }
    50% {
        transform: rotateZ(7deg);
    }
    100% {
        transofrm: rotateZ(-7deg);
    }
}

.bounce {
    animation: bounce 0.3s ease-in-out 3;
}

.bounceR {
    animation: bounceR 0.3s ease-in-out 3;
}

.move-score {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: clamp(2em, 5vw, 12em);
    margin-top: 2em;
}

.left,.right {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.move-score h2 {
    margin: 0;
    padding: 0
}

.move-score img {
    width: clamp(100px, 10vw, 150px);
}

.move-message {
    text-align: center;
}

.move-selector {
    display: flex;
    justify-content: center;
    gap: clamp(1em, 3vw, 3em);
}

.choice {
    width: clamp(100px, 10vw, 150px);
    border: none;
    background-color: #EBE9E1;
    transition: .5s ease-out;
}

.choice img {
    width: 100%;
    height: auto;
}
.choice:hover {
    transform: rotateZ(-7deg);
}

.page-title-word {
    text-align: center;
    font-size: 35px;
    background-color: #E43d12;
    color: #EBE9E1;
    margin-bottom: 1em;
}

.card-holder-container {
    display: flex;
    align-items: center;    
    justify-content: center;

}

.card-holder {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    color: #222;
    background-color: #efb11d;
    margin: 1em 2em;
    border-radius: 1em;
    padding: 2em;
   
}

.about-card h2,h3,p {
    margin: 0.5em;
    text-wrap: pretty;
}

.about-card h2 {
    font-size: 35px;
}

.contact a {
    color: #222;
}

.contact ul {
    list-style-type: none;
    
}


::-webkit-scrollbar {
    width: auto;
}
::-webkit-scrollbar-thumb {
    background: #E43d12;
    border-width: 1px;
    border-style: solid;
    border-color: #141414;
}
::-webkit-scrollbar-track {
    background: #EBE9E1;
    border-left: 1px solid #141414;
}